/*------------------------------------------------------------------------------
4.0 layout - global wireframe (flex-box/grid)
>>> This file contains all styles related to the use of the grid.
------------------------------------------------------------------------------*/

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  height: 100%;
}

.planning-cards-grid {
  display: grid;
  grid-template-columns: 352px auto;

  @media (max-width: $xxl-viewport) {
    grid-template-columns: 1fr;
  }
}

.days-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  &.main {
    height: calc(100% - 64px);
  }
}