/*------------------------------------------------------------------------------
4.0 layout - global wireframe (flex-box/grid)
>>> This file contains all styles related to the header of the site.
------------------------------------------------------------------------------*/

.top-bar {
  background-color: $navy-blue;
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100%;

  .menu-left {
    align-items: center;
    display: flex;
    margin: 16px;

    .logo {
      height: auto;
      margin-right: 24px;
      width: 22px;
    }

    a {
      @include regular-font;
      color: $light-grey-border;
      margin: 0 16px;
    }
  }

  .menu-right {
    align-items: center;
    display: flex;
    margin: 16px;

    .button {
      background-color: #343C4B;
      border-radius: 20px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      margin-right: 24px;
      padding: 8px 16px;

      .icon {
        @include icon-font;
        color: $light-grey;
        display: inline-block;
      }
      .text {
        @include regular-font;
        color: $light-grey-border;
        margin: 0 8px;
      }
    }

    .icon-link {
      @include icon-font;
      color: $light-grey-border;
      display: inline-block;
      margin: 0 12px;
    }

    .avatar {
      border-radius: 100%;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.1);
      height: 32px;
      margin-left: 12px;
      width: 32px;
    }
  }
}

.header {
  .header-title {
    @include h1-font;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    color: $dark-grey-blue;
    margin: 0;
    padding: 16px;
  }
}

.subheader {
  background-color: $light-orange;
  display: flex;
  justify-content: space-between;

  .buttons-left-align, .buttons-right-align {
    display: flex;
    margin: 8px;

    @media (max-width: $xl-viewport) {
      flex-flow: wrap;
      .button {
        margin: 4px 8px;
      }
    }

    .button {
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
      cursor: pointer;
      margin-right: 8px;
      padding: 8px 16px;

      .icon {
        @include icon-font;
        color: $orange;
        display: inline-block;

        &.counter {
          @include regular-font-bold;
          background-color: $light-orange;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          font-weight: bold;
          padding: 4px 8px;
        }
      }
      .text {
        @include regular-font;
        color: $navy-blue;
        font-weight: bold;
        margin: 0 8px;
        white-space: nowrap;
      }
    }
  }

  .buttons-right-align {
    .button {
      border-radius: 20px;
    }
  }
}

.main-panel--header {
  .month--header {
    @include subHeader-bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    color: $light-grey;
    font-weight: bold;
    margin: 0;
    padding: 8px 16px;
  }

  .day-container {
    align-items: baseline;
    border-right: 1px solid $light-grey-border;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;

    &.active {
      background-color: $light-orange;
      border-bottom: 2px solid $orange;
      margin-top: 2px;
      margin-bottom: -1px;
      .day--header, .day-index--header {
        color: $orange;
      }
    }
  }

  .day--header, .day-index--header {
    @include subHeader-bold;
    font-weight: bold;
    margin: 8px 16px 5px 16px;
  }

  .day--header{
    color: $grey-blue;
  }

  .day-index--header {
    color: $light-grey;
  }
}

.number-subheader {
  @include  regular-font;
  display: inline-block;
  border-right: 1px solid $light-grey-border2;
  border-bottom: 1px solid $light-grey-border2;
  color: $light-navy-blue;
  text-align: center;
  padding: 24px 0;
}