/*------------------------------------------------------------------------------
3.0 base - boilerplate code for the project
>>> This file contains all fonts used in the site.
------------------------------------------------------------------------------*/

/**
 * Gotham
 */
@font-face {
  font-family: 'Gotham';
  src: url('../../assets/Gotham.woff') format('woff');
  font-weight: normal;
}

/**
 * Gotham Bold
 */
@font-face {
  font-family: 'Gotham Bold';
  src: url('../../assets/GothamBold.woff') format('woff');
  font-weight: bold;
}