/*------------------------------------------------------------------------------
1.0 abstracts - configuration and helpers
>>> This file contains all application-wide Sass mixins.
------------------------------------------------------------------------------*/

/// mixin calling the calculateRem
/// @param $size - px value
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

///mixin for top-bar link fonts
@mixin regular-font {
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@mixin regular-font-bold {
  font-family: Gotham Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

///mixin for icon
@mixin icon-font {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

//mixin for H1 font
@mixin h1-font {
  font-family: Gotham Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

//mixin for subHeader font
@mixin subHeader {
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

//mixin for small-subHeader font
@mixin smallSubHeader {
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

//mixin for subHeader font
@mixin subHeader-bold {
  font-family: Gotham Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

//mixin for small-subHeader font
@mixin smallSubHeader-bold {
  font-family: Gotham Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}
