/*------------------------------------------------------------------------------
1.0 abstracts - configuration and helpers
>>> This file contains all application-wide Sass variables.
------------------------------------------------------------------------------*/

/* colors */
$white: #ffffff !default;
$dark-white: #FCFCFC !default;

$light-grey: #B7BFD6 !default;
$grey: #A0A0A0 !default;
$black: #131313 !default;

$light-grey-border: #F0F2FA !default;
$light-grey-border2: #F0F0F0 !default;
$light-blue-border: #dfe7ef !default;

$light-grey-blue: #818A9E !default;
$grey-blue: #535C6E !default;
$dark-grey-blue: #424B5B !default;
$light-blue: #f6f9fc !default;
$light-blue2: #F2F4F7 !default;
$navy-blue: #1F2530 !default;
$light-navy-blue: #29303D !default;
$light-orange: #FFF9F2 !default;
$orange: #F27633 !default;
$red: rgba(255, 114, 114, 0.2) !default;
$dark-red: #FF7272 !default;
$green: #B8E4A3 !default;

/* responsive breakpoints */
$s-viewport: 425px;
$sm-viewport: 576px;
$md-viewport: 768px;
$lg-viewport: 992px;
$xl-viewport: 1200px;
$xxl-viewport: 1600px;
$xxxl-viewport: 2000px;